---
http_interactions:
- request:
    method: get
    uri: https://animatedgif.me/gifs/1971.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"b7783a7ce3839d51119fe43a9eb0a352"
    body:
      encoding: ASCII-8BIT
      string: '{"id":1971,"user_id":45,"image_data":"{\"id\":\"2d18c061594ac6d9b6dffc73c98aba02.png\",\"storage\":\"store\",\"metadata\":{\"filename\":\"Untitled
        drawing (1).png\",\"size\":26794,\"mime_type\":\"image/png\"}}","created_at":"2020-09-18T14:09:51.027Z","updated_at":"2020-09-18T14:09:51.071Z","url":"https://animatedgif.me/gifs/1971.json"}'
  recorded_at: Wed, 10 Mar 2021 06:45:42 GMT
recorded_with: VCR 6.0.0
